.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  margin-top: 5rem;
  margin-bottom: 10rem;

  padding: 1rem;
  box-sizing: border-box;
}

.logo {
  width: 300px;
}

@media screen and (max-width: 600px) {
  .logo {
    width: 50%;
  }
}

#lng-select {
  background-color: #ddd;
  border: 2px solid gray;
  border-radius: 15px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: inherit;
}

.header-button {
  background-color: #ddd;
  border: 2px solid gray;
  border-radius: 15px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: inherit;
}
