.table-container {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 15px; /* Rounded corners for the table container */
  overflow: hidden;
}

.styled-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 15px;
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
  border-radius: 15px 15px 0 0;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  border: 1px solid #dddddd;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
  border-radius: 0 0 15px 15px;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.styled-table th:nth-child(1),
.styled-table td:nth-child(1) {
  width: 60%; /* First column takes up 40% of the table width */
}

.styled-table th:nth-child(2),
.styled-table td:nth-child(2) {
  width: 30%; /* Second column takes up 30% of the table width */
}

.styled-table th:nth-child(3),
.styled-table td:nth-child(3) {
  width: 10%; /* Third column takes up 30% of the table width */
}

/* Button Styling */
.styled-button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #009879;
  border: none;
  border-radius: 25px; /* Rounded corners for a game-like vibe */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

.styled-button:hover {
  background-color: #007f65; /* Darken the button on hover */
  transform: translateY(-2px); /* Slight lift on hover */
}

.styled-button:active {
  background-color: #005f4a; /* Even darker on click */
  transform: translateY(0); /* Reset the lift on click */
}
