.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  margin-top: 5rem;
  margin-bottom: 10rem;

  padding: 1rem;
  box-sizing: border-box;
}

.logo {
  width: 300px;
}

@media screen and (max-width: 600px) {
  .logo {
    width: 50%;
  }
}
