.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  margin-top: 5rem;

  padding: 1rem;
  box-sizing: border-box;
  background-color: aqua;
}

.logo {
  width: 200px;
}

@media screen and (max-width: 400px) {
  .logo {
    width: 50%;
  }
}
